.navbar{
    height: 60px;
    background-color: #8871d6;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 6px 2px;
}
.navcontainer{
    width: 100%;
    background-color: #8871d6;
    max-width: 1024px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    padding-left: 15px;
    justify-content: space-between;
}

.logo{
    font-weight: 700;
    font-size: 20px;
}

.signin {
    padding: 5px 10px;
    color: #8871d6;
    border-radius: 5px;
    border-color: #3E78B2;
    font-weight: 500;
    background-color: white;
}

.navbutton{
    margin:15px;
    padding: 5px 10px;
    color:#8871d6;
    border-radius: 5px;
    border-color:#3E78B2 ;
    font-weight: 700;
    background-color: white;
}
